/* Styles specific to this workshop
------------------------------------*/

.highlight-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
}

.highlight-color {
  background-color: #ebcb8b;
  padding: 10px;
}

.bigger-text {
  font-size: 35px;
}

.comparison-table {
  background-color: #2b303b;
  color: #dfe1e8;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8em;
  float: left;
}

.comparison-table td, .comparison-table th {
  padding: 5px;
}

.comparison-table tr:nth-child(even) {
  background-color: #343d46;
}
